@import url("https://fonts.googleapis.com/css?family=Lato|Merriweather:400,400i|Oswald:300,400");
body {
  background-color: white;
  margin: 0;
  padding: 0; }

body * {
  box-sizing: border-box;
  color: #000000; }

img {
  max-width: 100%; }

.copy {
  font-size: 16px; }
  .copy > *:first-child {
    margin-top: 0;
    padding-top: 0; }
  .copy > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.clear-bottom:after {
  content: "";
  clear: both;
  display: block; }

.cap {
  max-width: 1200px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 auto; }
  @media screen and (min-width: 900px) {
    .cap {
      padding-right: 42px !important;
      padding-left: 42px !important; } }

.cap-nopad {
  max-width: 1200px;
  margin: 0 auto; }

#masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu {
  display: none;
  margin: 0;
  padding: 20px;
  position: fixed;
  max-height: 100vh;
  overflow: auto;
  top: 0;
  left: -100%;
  width: 250px;
  z-index: 100;
  background-color: black; }
  @media screen and (min-width: 900px) {
    #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu {
      padding: 0;
      position: static;
      background-color: transparent;
      width: auto;
      float: right;
      width: 75%;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      align-content: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -ms-flex-item-align: stretch;
      justify-content: flex-end; } }
  @media screen and (min-width: 900px) and (min-width: 1200px) {
    #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu {
      width: 63.95%; } }
  #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu.active {
    display: block; }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu.active {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */ } }
  #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu #close-menu {
    cursor: pointer;
    text-align: right;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-size: 18px; }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu #close-menu {
        display: none; } }
  #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu ul#mobile-nav {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu ul#mobile-nav {
        display: none; } }
    #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu ul#mobile-nav li {
      display: block;
      margin: 10px 0 0 0; }
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu ul#mobile-nav li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        letter-spacing: 1px;
        font-size: 18px; }
  @media screen and (min-width: 900px) {
    #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper {
      padding: 5px 0;
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      align-content: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-item-align: center;
      justify-content: space-between; } }
  #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper > a.connect {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    color: #de53f3;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 0 0 0;
    display: inline-block; }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper > a.connect {
        font-size: 12px;
        margin: 0 10px;
        transform: scale(1);
        transition: all 0.2s; } }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper > a.connect:hover {
        transform: scale(1.2); } }
  #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper .social {
    margin: 10px 0 0 0; }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper .social {
        margin: 0 30px 0 10px; } }
    #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper .social a {
      display: inline-block;
      margin: 0 5px; }
      @media screen and (min-width: 900px) {
        #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper .social a {
          margin: 0 10px;
          transform: scale(1);
          transition: all 0.2s; } }
      @media screen and (min-width: 900px) {
        #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper .social a:hover {
          transform: scale(1.2); } }
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper .social a i {
        font-size: 20px;
        color: white; }
        @media screen and (min-width: 900px) {
          #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper .social a i {
            color: #000000; } }
  #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search {
    margin: 10px 0 0 0; }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search {
        margin: 0 20px;
        -webkit-box-flex: 1 1 auto;
        -moz-box-flex: 1 1 auto;
        flex: 1 1 auto; } }
    #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper {
      background-color: #e1e1e1;
      padding: 5px 10px;
      border-radius: 9999px;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      align-content: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-item-align: center;
      justify-content: space-between; }
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper:hover {
        background-color: #e5e5e5; }
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper input {
        -webkit-box-flex: 0 1 auto;
        -moz-box-flex: 0 1 auto;
        flex: 0 1 auto;
        background-color: #e1e1e1;
        border: none;
        color: #000000;
        font-family: "Oswald", sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 300;
        min-width: 0;
        text-transform: uppercase; }
        @media screen and (min-width: 900px) {
          #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper input {
            -webkit-box-flex: 1 1 auto;
            -moz-box-flex: 1 1 auto;
            flex: 1 1 auto; } }
        #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper input:-ms-input-placeholder {
          color: #000000;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase; }
        #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper input::-moz-placeholder {
          color: #000000;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase; }
        #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper input:-moz-placeholder {
          color: #000000;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase; }
        #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper input::-webkit-input-placeholder {
          color: #000000;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase; }
        #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper input:placeholder {
          color: #000000;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase; }
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu > .wrapper #search .wrapper img {
        display: block;
        width: 16px;
        cursor: pointer;
        min-width: 16px; }
  #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu a.login {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #de53f3;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    margin: 10px 0 20px 0; }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu a.login {
        padding: 10px 42px 10px 20px;
        margin: 0; } }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu a.login:hover {
        background-color: #d345e8; } }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu a.login:hover .text {
        text-shadow: 1px 1px 2px black; } }
    @media screen and (min-width: 900px) {
      #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu a.login:hover img {
        transform: scale(1.2); } }
    #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu a.login .text {
      color: white;
      font-family: "Oswald", sans-serif;
      letter-spacing: 1px;
      font-size: 12px;
      text-transform: uppercase; }
    #masthead > .row-1 > .cap-nopad > .outer-wrapper#mobile-menu a.login img {
      transform: scale(1);
      transition: all 0.2s;
      margin: 0 0 0 10px;
      display: block;
      width: 26px; }

#masthead > .row-2 {
  background-color: #000000; }
  #masthead > .row-2 > .cap {
    padding: 5px 10px 5px 5px !important;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    justify-content: space-between; }
    @media screen and (min-width: 900px) {
      #masthead > .row-2 > .cap {
        padding: 20px 42px !important; } }
    #masthead > .row-2 > .cap #logo {
      width: 45%;
      margin: 0;
      max-width: 219px; }
      @media screen and (min-width: 900px) {
        #masthead > .row-2 > .cap #logo {
          width: 20%;
          margin: -54px 0 0 0; } }
      #masthead > .row-2 > .cap #logo a {
        display: block; }
        #masthead > .row-2 > .cap #logo a img {
          width: 100%;
          display: block; }
    #masthead > .row-2 > .cap > .wrapper {
      padding-right: 10px; }
      @media screen and (min-width: 900px) {
        #masthead > .row-2 > .cap > .wrapper {
          width: 75%;
          padding: 0; } }
      @media screen and (min-width: 1200px) {
        #masthead > .row-2 > .cap > .wrapper {
          width: 65%; } }
      #masthead > .row-2 > .cap > .wrapper #hamburger {
        cursor: pointer;
        width: 32px; }
        @media screen and (min-width: 900px) {
          #masthead > .row-2 > .cap > .wrapper #hamburger {
            display: none; } }
      #masthead > .row-2 > .cap > .wrapper ul {
        display: none;
        margin: 0;
        padding: 0; }
        @media screen and (min-width: 900px) {
          #masthead > .row-2 > .cap > .wrapper ul {
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;
            /* NEW, Spec - Firefox, Chrome, Opera */
            align-content: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-item-align: center;
            justify-content: space-between; } }
        #masthead > .row-2 > .cap > .wrapper ul li {
          display: block;
          margin: 10px 0 0 0; }
          @media screen and (min-width: 900px) {
            #masthead > .row-2 > .cap > .wrapper ul li {
              display: inline-block;
              margin: 0 30px;
              transform: scale(1);
              transition: all 0.2s; } }
          @media screen and (min-width: 900px) {
            #masthead > .row-2 > .cap > .wrapper ul li:hover {
              transform: scale(1.2); } }
          @media screen and (min-width: 900px) {
            #masthead > .row-2 > .cap > .wrapper ul li:first-child {
              margin-left: 10px; } }
          #masthead > .row-2 > .cap > .wrapper ul li a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
            font-size: 18px; }

#colophon > .cap {
  padding: 30px 0; }
  @media screen and (min-width: 900px) {
    #colophon > .cap {
      padding: 50px 0; } }
  @media screen and (min-width: 900px) {
    #colophon > .cap > .col-1 {
      margin-right: 6px;
      width: calc(50% - 6px);
      float: left; } }
  #colophon > .cap > .col-2 {
    margin: 30px 0 0 0; }
    @media screen and (min-width: 900px) {
      #colophon > .cap > .col-2 {
        margin: 0 0 0 6px;
        width: calc(50% - 6px);
        float: left; } }
  #colophon > .cap .col {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    align-content: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-item-align: stretch;
    justify-content: flex-start;
    flex-direction: column;
    -ms-flex-direction: column; }
    #colophon > .cap .col > header h2 {
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      font-size: 25px;
      letter-spacing: 1px;
      margin: 0 10px 0 0; }
      @media screen and (min-width: 900px) {
        #colophon > .cap .col > header h2 {
          display: inline-block; } }
    #colophon > .cap .col > header .descriptor {
      color: #de53f3;
      font-style: italic;
      font-family: "Merriweather", serif;
      font-size: 16px; }
      @media screen and (min-width: 900px) {
        #colophon > .cap .col > header .descriptor {
          display: inline-block; } }
    #colophon > .cap .col .plugin {
      margin: 20px 0 0 0;
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      align-content: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -ms-flex-item-align: stretch;
      justify-content: flex-start;
      flex-direction: column;
      -ms-flex-direction: column; }
      #colophon > .cap .col .plugin.social .social.bar ul {
        margin: 0;
        padding: 0; }
        #colophon > .cap .col .plugin.social .social.bar ul li {
          background-color: black;
          text-align: center;
          font-family: "Oswald", sans-serif;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 16px;
          padding: 15px;
          line-height: 1.2;
          text-decoration: none;
          display: block;
          float: left;
          width: 33.33333%;
          border-right: 1px solid white;
          cursor: pointer; }
          @media screen and (min-width: 900px) {
            #colophon > .cap .col .plugin.social .social.bar ul li:hover i {
              transform: scale(1.2); } }
          #colophon > .cap .col .plugin.social .social.bar ul li:last-child {
            border-right: none; }
          #colophon > .cap .col .plugin.social .social.bar ul li.active {
            background-image: url(./images/pink-box.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; }
          #colophon > .cap .col .plugin.social .social.bar ul li .text {
            color: white;
            display: none; }
            @media screen and (min-width: 900px) {
              #colophon > .cap .col .plugin.social .social.bar ul li .text {
                display: inline; } }
          #colophon > .cap .col .plugin.social .social.bar ul li i {
            transform: scale(1);
            transition: all 0.2s;
            margin: 0 5px 0 0;
            font-size: 20px;
            display: inline-block;
            color: white; }
      #colophon > .cap .col .plugin.social .view {
        display: none;
        -webkit-box-flex: 1 1 auto;
        -moz-box-flex: 1 1 auto;
        flex: 1 1 auto;
        align-content: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-item-align: stretch;
        justify-content: flex-start;
        flex-direction: column;
        -ms-flex-direction: column;
        margin: 20px 0 0 0;
        padding: 10px 12px 20px 12px;
        background-color: #e5e5e5; }
        #colophon > .cap .col .plugin.social .view.active {
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;
          /* NEW, Spec - Firefox, Chrome, Opera */ }
        #colophon > .cap .col .plugin.social .view > .row-1 {
          padding: 0 20px 10px 20px;
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;
          /* NEW, Spec - Firefox, Chrome, Opera */
          align-content: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-item-align: center;
          justify-content: space-between; }
          #colophon > .cap .col .plugin.social .view > .row-1 > .col-1 {
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 16px; }
            #colophon > .cap .col .plugin.social .view > .row-1 > .col-1 a {
              color: #de53f3;
              text-decoration: none; }
          #colophon > .cap .col .plugin.social .view > .row-1 > .col-2 i {
            color: #de53f3;
            cursor: pointer;
            font-size: 28px;
            display: inline-block; }
            #colophon > .cap .col .plugin.social .view > .row-1 > .col-2 i:first-child {
              margin-right: 10px; }
        #colophon > .cap .col .plugin.social .view > .row-2 {
          -webkit-box-flex: 1 1 auto;
          -moz-box-flex: 1 1 auto;
          flex: 1 1 auto;
          overflow: hidden;
          position: relative; }
          #colophon > .cap .col .plugin.social .view > .row-2 .post {
            margin: 0;
            width: 220px;
            min-height: 200px;
            background-color: white;
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;
            /* NEW, Spec - Firefox, Chrome, Opera */
            align-content: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            -ms-flex-item-align: stretch;
            justify-content: flex-start;
            flex-direction: column;
            -ms-flex-direction: column; }
            #colophon > .cap .col .plugin.social .view > .row-2 .post .meta {
              text-transform: uppercase;
              font-size: 16px;
              font-family: "Oswald", sans-serif;
              letter-spacing: 1px;
              padding: 15px; }
              #colophon > .cap .col .plugin.social .view > .row-2 .post .meta i {
                font-size: 20px;
                color: #de53f3; }
              #colophon > .cap .col .plugin.social .view > .row-2 .post .meta a {
                text-decoration: none; }
            #colophon > .cap .col .plugin.social .view > .row-2 .post .copy {
              padding: 0 15px 15px 15px;
              font-family: "Lato", sans-serif;
              font-size: 12px;
              letter-spacing: 1px; }
              #colophon > .cap .col .plugin.social .view > .row-2 .post .copy a {
                color: #de53f3; }
            #colophon > .cap .col .plugin.social .view > .row-2 .post .bottom-bar {
              background-color: #de53f3;
              margin: auto 0 0 0;
              padding: 5px 15px;
              display: -webkit-box;
              /* OLD - iOS 6-, Safari 3.1-6, BB7 */
              display: -ms-flexbox;
              /* TWEENER - IE 10 */
              display: -webkit-flex;
              /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
              display: flex;
              /* NEW, Spec - Firefox, Chrome, Opera */
              align-content: center;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-item-align: center;
              justify-content: space-between; }
              #colophon > .cap .col .plugin.social .view > .row-2 .post .bottom-bar .date-time {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                font-family: "Oswald", sans-serif;
                letter-spacing: 1px; }
              #colophon > .cap .col .plugin.social .view > .row-2 .post .bottom-bar .share a {
                text-decoration: none;
                display: inline-block;
                margin: 0 2px; }
                @media screen and (min-width: 900px) {
                  #colophon > .cap .col .plugin.social .view > .row-2 .post .bottom-bar .share a {
                    transform: scale(1);
                    transition: all 0.2s; } }
                @media screen and (min-width: 900px) {
                  #colophon > .cap .col .plugin.social .view > .row-2 .post .bottom-bar .share a:hover {
                    transform: scale(1.2); } }
                #colophon > .cap .col .plugin.social .view > .row-2 .post .bottom-bar .share a:first-child {
                  margin-left: 0; }
                #colophon > .cap .col .plugin.social .view > .row-2 .post .bottom-bar .share a:last-child {
                  margin-right: 0; }
                #colophon > .cap .col .plugin.social .view > .row-2 .post .bottom-bar .share a i {
                  font-size: 12px;
                  color: white; }
      #colophon > .cap .col .plugin.map .address.bar {
        background-color: black;
        color: white;
        text-align: center;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        padding: 15px;
        line-height: 1.2; }
        #colophon > .cap .col .plugin.map .address.bar .light {
          font-weight: 300;
          font-size: 14px;
          text-transform: initial;
          color: white;
          display: block;
          line-height: 1.2; }
          @media screen and (min-width: 900px) {
            #colophon > .cap .col .plugin.map .address.bar .light {
              display: inline-block;
              margin-left: 20px; } }
      #colophon > .cap .col .plugin.map .view {
        -webkit-box-flex: 1 1 auto;
        -moz-box-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 10px;
        position: relative;
        background-color: #f5f5f5; }
        #colophon > .cap .col .plugin.map .view img.map {
          width: 100%;
          display: block; }
        #colophon > .cap .col .plugin.map .view img.wayfairer {
          position: absolute;
          top: 25%;
          left: 25%;
          z-index: 1; }

article.events {
  background-color: #e5e5e5; }
  article.events > .cap {
    padding: 20px 0 48px 0; }
    article.events > .cap > header.row-1 {
      padding: 0 0 15px 0;
      margin: 0 0 30px 0;
      border-bottom: 2px solid #000000; }
      article.events > .cap > header.row-1 h2 {
        font-family: "Oswald", sans-serif;
        letter-spacing: 1px;
        font-size: 28px;
        text-align: center;
        margin: 0;
        text-transform: uppercase; }
        @media screen and (min-width: 600px) {
          article.events > .cap > header.row-1 h2 {
            float: left; } }
      article.events > .cap > header.row-1 .layout {
        display: none; }
        @media screen and (min-width: 600px) {
          article.events > .cap > header.row-1 .layout {
            float: right;
            display: block; } }
        article.events > .cap > header.row-1 .layout #grid {
          margin: 0 10px 0 0; }
        article.events > .cap > header.row-1 .layout #grid, article.events > .cap > header.row-1 .layout #list {
          float: left;
          cursor: pointer;
          padding: 10px; }
          article.events > .cap > header.row-1 .layout #grid.active, article.events > .cap > header.row-1 .layout #list.active {
            background-color: white; }
          article.events > .cap > header.row-1 .layout #grid img, article.events > .cap > header.row-1 .layout #list img {
            display: block;
            width: 28px; }
    article.events > .cap > .row-2 section.event {
      line-height: 1.2;
      margin: 20px 0 0 0;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      @media screen and (min-width: 600px) {
        article.events > .cap > .row-2 section.event {
          width: calc(1/3*100% - 8px);
          margin: 0 6px 12px 6px;
          float: left; } }
      article.events > .cap > .row-2 section.event:hover {
        box-shadow: 1px 1px 5px black; }
      article.events > .cap > .row-2 section.event:first-child {
        margin-top: 0; }
      article.events > .cap > .row-2 section.event > a {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        align-content: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-item-align: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-decoration: none;
        height: 100%;
        background-color: white; }
        @media screen and (min-width: 600px) {
          article.events > .cap > .row-2 section.event > a {
            display: block; } }
        article.events > .cap > .row-2 section.event > a .photo {
          width: 40%;
          order: 1;
          padding: 10px; }
          @media screen and (min-width: 600px) {
            article.events > .cap > .row-2 section.event > a .photo {
              width: 100%;
              padding: 0; } }
          article.events > .cap > .row-2 section.event > a .photo img {
            display: block;
            width: 100%; }
        article.events > .cap > .row-2 section.event > a .date {
          background-color: #000000;
          order: 3;
          width: 100%; }
          article.events > .cap > .row-2 section.event > a .date .day {
            float: right;
            background-image: url(./images/rectangle.png);
            background-position: center;
            background-size: 100% auto;
            background-repeat: no-repeat;
            position: relative;
            top: -8px;
            text-align: center;
            color: #de53f3;
            font-size: 16px;
            padding: 10px 20px 10px 30px;
            text-transform: uppercase;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px; }
          article.events > .cap > .row-2 section.event > a .date .calendar {
            color: #de53f3;
            font-size: 16px;
            text-transform: uppercase;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
            padding: 10px 20px; }
        article.events > .cap > .row-2 section.event > a .artist {
          order: 2;
          width: 60%;
          text-align: left;
          padding: 15px 15px 15px 0; }
          @media screen and (min-width: 600px) {
            article.events > .cap > .row-2 section.event > a .artist {
              text-align: center;
              width: 100%;
              padding: 30px 20px; } }
          article.events > .cap > .row-2 section.event > a .artist h3 {
            color: #de53f3;
            margin: 0 0 8px 0;
            font-size: 20px;
            font-family: "Oswald", sans-serif;
            letter-spacing: 2px;
            text-transform: uppercase; }
            @media screen and (min-width: 600px) {
              article.events > .cap > .row-2 section.event > a .artist h3 {
                font-size: 25px; } }
          article.events > .cap > .row-2 section.event > a .artist .tour {
            font-family: "Merriweather", serif;
            font-style: italic;
            font-size: 14px; }
            @media screen and (min-width: 600px) {
              article.events > .cap > .row-2 section.event > a .artist .tour {
                font-size: 16px; } }
        article.events > .cap > .row-2 section.event > a .tickets {
          order: 4;
          background-color: #de53f3;
          width: 100%;
          padding: 10px;
          text-align: center; }
          @media screen and (min-width: 600px) {
            article.events > .cap > .row-2 section.event > a .tickets {
              display: none; } }
          article.events > .cap > .row-2 section.event > a .tickets .text {
            display: inline-block;
            color: white;
            font-size: 14px;
            vertical-align: middle;
            text-transform: uppercase;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
            margin-bottom: 2px; }
          article.events > .cap > .row-2 section.event > a .tickets img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            width: 34px; }
    @media screen and (min-width: 600px) {
      article.events > .cap > .row-2.list section.event {
        width: 100%;
        float: none;
        margin: 12px 0 0 0; } }
    @media screen and (min-width: 600px) {
      article.events > .cap > .row-2.list section.event > a {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        align-content: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-item-align: stretch;
        justify-content: flex-start;
        flex-wrap: nowrap; } }
    @media screen and (min-width: 600px) {
      article.events > .cap > .row-2.list section.event > a .photo {
        display: none; } }
    @media screen and (min-width: 600px) {
      article.events > .cap > .row-2.list section.event > a .date {
        width: 500px; } }
    @media screen and (min-width: 600px) {
      article.events > .cap > .row-2.list section.event > a .artist {
        text-align: left;
        padding: 10px 20px; } }
    @media screen and (min-width: 900px) {
      article.events > .cap > .row-2.list section.event > a .artist h3 {
        display: inline-block;
        margin: 0; } }
    @media screen and (min-width: 900px) {
      article.events > .cap > .row-2.list section.event > a .artist .tour {
        display: inline-block;
        margin: 0 0 0 10px; } }
    @media screen and (min-width: 600px) and (max-width: 899px) {
      article.events > .cap > .row-2.grid section.event:nth-child(even) {
        width: calc(50% - 6px);
        margin-right: 0; } }
    @media screen and (min-width: 600px) and (max-width: 899px) {
      article.events > .cap > .row-2.grid section.event:nth-child(odd) {
        width: calc(50% - 6px);
        margin-left: 0; } }
    @media screen and (min-width: 900px) {
      article.events > .cap > .row-2.grid section.event.first {
        margin-left: 0; } }
    @media screen and (min-width: 900px) {
      article.events > .cap > .row-2.grid section.event.last {
        margin-right: 0; } }

.newsletter {
  background-image: url(./images/purple-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px 0; }
  @media screen and (min-width: 900px) {
    .newsletter {
      padding: 90px 20px; } }
  .newsletter > .cap .signup-box {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 30px 15px; }
    @media screen and (min-width: 900px) {
      .newsletter > .cap .signup-box {
        width: 55%;
        margin: 0 auto;
        padding: 60px 20px; } }
    .newsletter > .cap .signup-box h2 {
      margin: 0;
      font-size: 40px;
      text-transform: uppercase;
      color: white;
      font-family: "Oswald", sans-serif;
      letter-spacing: 2px;
      line-height: 1.2; }
    .newsletter > .cap .signup-box .tagline {
      color: #de53f3;
      font-family: "Merriweather", serif;
      font-size: 18px;
      font-style: italic;
      margin: 5px 0 0 0; }
    .newsletter > .cap .signup-box a {
      margin: 30px 0 0 0;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      letter-spacing: 1px;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      width: 100%;
      text-decoration: none;
      border: 2px solid white;
      display: block; }
      @media screen and (min-width: 600px) {
        .newsletter > .cap .signup-box a {
          margin: 40px 0 0 0;
          padding: 10px 60px;
          width: auto;
          display: inline-block; } }
      .newsletter > .cap .signup-box a:hover {
        background-color: #de53f3;
        text-shadow: 1px 1px 2px black; }
